.menu {

    display: flex;
    justify-content:space-between;
    background-color: #000000;
    padding: 15px;
    
    font-size: 20px;
    font-family:fantasy;
    font-weight: 400;
    color:#ffffff;
    margin: 2px;
}
body {
    background-color:#f7f2f2;
 margin: 2px;
 padding:4px;
 
}
.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
  
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;

    
}
.bodyImg
{
justify-content: space-evenly;
}

.H
{
width:15px;
height: 2px;
background-color:black;
margin:3px 0;
}


